.index__background {
  background-image: url(../images/main_visual02.jpg);
  background-size: 120%;
  background-position: center center; }

.index__header {
  height: 55px;
  background-color: transparent;
  padding: 10px 15px; }
  .index__header:after {
    content: "";
    display: table;
    clear: both; }
  .index__header__logo {
    display: block;
    width: 60px;
    float: left; }
  .index__header__logo img {
    max-width: 100%; }
  .index__header__menu-button {
    width: 26px;
    height: 20px;
    margin-top: 7px;
    float: right; }
  .index__header__menu-button__line {
    display: block;
    height: 3px;
    background-color: #fff;
    margin-bottom: 4px; }
  .index__header__menu-button__line:last-child {
    margin-bottom: 0; }
