html {
  overflow: hidden; }

body {
  font-family: 'Roboto', 'NanumSquare'; }

.index__header {
  width: 100%;
  height: 55px;
  background-color: transparent;
  padding: 10px 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1; }
  .index__header:after {
    content: "";
    display: table;
    clear: both; }
  .index__header__logo {
    display: block;
    width: 60px;
    float: left; }
  .index__header__logo img {
    max-width: 100%; }
  .index__header__menu-button {
    width: 26px;
    height: 20px;
    margin-top: 7px;
    float: right; }
  .index__header__menu-button__line {
    display: block;
    height: 3px;
    background-color: #fff;
    margin-bottom: 4px; }
  .index__header__menu-button__line:last-child {
    margin-bottom: 0; }

.index__background {
  display: none;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  position: fixed;
  top: 0;
  left: 0; }
  .index__background.active {
    display: block; }
  .index__background.background1 {
    background-image: url(../images/main_visual02.jpg); }
  .index__background.background2 {
    background-image: url(../images/main_visual01.jpg); }
  .index__background.background3 {
    background-image: url(../images/main_visual03.jpg); }

.index__indicator {
  width: 2px;
  height: 100vh;
  list-style: none;
  position: fixed;
  top: 0;
  right: 0; }
  .index__indicator__item {
    height: 33.33%;
    background-color: #fff;
    opacity: .5; }
  .index__indicator__item.active {
    background-color: #bb162c;
    opacity: 1; }
  .index__indicator__item a {
    display: block;
    width: 100%;
    height: 100%; }

.index__section {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  padding: 60px 15px 15px;
  position: relative; }
  .index__section__link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none; }
  .index__section__floating {
    width: 290px;
    height: 290px;
    background-color: #fff;
    padding: 30px 40px 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .index__section__title {
    color: #363636;
    font-size: 1.875rem;
    font-weight: 100;
    word-break: keep-all;
    margin-bottom: 15px; }
  .index__section__title--bold {
    font-weight: 600; }
  .index__section__description {
    color: #bb162c;
    font-size: 0.875rem; }
  .index__section__decoration {
    position: relative; }
    .index__section__decoration:after {
      content: "";
      display: table;
      clear: both; }
  .index__section__red-line {
    width: 100%;
    height: 5px;
    background-color: #bb162c;
    position: absolute;
    top: 15px;
    left: -85px; }
  .index__section__quantity {
    color: #363636;
    font-size: 2.1875rem;
    font-weight: 600;
    float: right; }
  .index__section__download {
    color: #363636;
    font-size: 1rem; }
  .index__section__download--more {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url(../images/ico_plus.png);
    background-size: cover;
    margin-left: 5px; }
  .index__section__scroll {
    display: block;
    width: 20px;
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%); }
  .index__section__scroll img {
    max-width: 100%;
    opacity: .2; }
  .index__section__location {
    display: block;
    width: 26px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: .5; }
  .index__section__location img {
    max-width: 100%; }
