body {
  font-family: 'Roboto', 'NanumSquare'; }

.index__background {
  background-image: url(../images/main_visual02.jpg);
  background-size: 300%;
  background-position: center center; }

.index__header {
  height: 55px;
  background-color: transparent;
  padding: 10px 15px; }
  .index__header:after {
    content: "";
    display: table;
    clear: both; }
  .index__header__logo {
    display: block;
    width: 60px;
    float: left; }
  .index__header__logo img {
    max-width: 100%; }
  .index__header__menu-button {
    width: 26px;
    height: 20px;
    margin-top: 7px;
    float: right; }
  .index__header__menu-button__line {
    display: block;
    height: 3px;
    background-color: #fff;
    margin-bottom: 4px; }
  .index__header__menu-button__line:last-child {
    margin-bottom: 0; }

.index__section {
  background-color: transparent;
  padding: 60px 15px; }
  .index__section__link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none; }
  .index__section__floating {
    background-color: #fff;
    padding: 30px 40px 50px; }
  .index__section__title {
    color: #363636;
    font-size: 1.875rem;
    font-weight: 100;
    word-break: keep-all;
    margin-bottom: 15px; }
  .index__section__title--bold {
    font-weight: 600; }
  .index__section__description {
    color: #bb162c;
    font-size: 0.875rem; }
  .index__section__decoration {
    position: relative; }
    .index__section__decoration:after {
      content: "";
      display: table;
      clear: both; }
  .index__section__red-line {
    width: 100%;
    height: 5px;
    background-color: #bb162c;
    position: absolute;
    top: 15px;
    left: -85px; }
  .index__section__quantity {
    color: #363636;
    font-size: 2.1875rem;
    font-weight: 600;
    float: right; }
  .index__section__download {
    color: #363636;
    font-size: 1rem; }
  .index__section__download--more {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url(../images/ico_plus.png);
    background-size: cover;
    margin-left: 5px; }
  .index__section__bottom-menu {
    text-align: center;
    margin-top: 50px;
    position: relative; }
    .index__section__bottom-menu:after {
      content: "";
      display: table;
      clear: both; }
  .index__section__scroll {
    display: inline-block;
    width: 20px;
    margin: 0 auto; }
  .index__section__scroll img {
    max-width: 100%;
    opacity: .5; }
  .index__section__location {
    display: block;
    width: 26px;
    position: absolute;
    bottom: 0;
    right: 0; }
  .index__section__location img {
    max-width: 100%; }
