.index__header {
  background-color: transparent;
  border: 0;

  .nav__list__link {
    color: #fff;
  }

  .nav__list__link:hover {
    color: #fff;
  }

  .header__search-icon {
    display: none;
  }

  .header__login {
    border: 1px solid #fff;
  }
}
