.web-source {
  &__floating {
    display: none;
    color: $black-color;
    font-size: 0.9375rem;
    line-height: 1.5;
    margin-top: -150px;
    position: absolute;
    top: 50%;
    left: 50px;
    z-index: 9999;
    transition: transform .3s;
  }

  &__floating.active {
    background-color: #fff;
  }

  &__button {
    width: 41px;
    height: 41px;
    background-color: #fff;
    position: absolute;
    top: -20px;
    left: -30px;
  }

  &__floating.active &__button {
    background-color: $red-color;
  }

  &__button--more {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/ico_plus_m.png) no-repeat center;
    outline: none;
    position: relative;
    z-index: 9999;
    transition: transform .7s;
  }

  &__floating.active &__button--more {
    background: url(../images/ico_plus_wr.png) no-repeat center;
    transform: rotate(135deg);
  }

  &__content {
    padding: 0 30px;
    transition: padding .3s;
  }

  &__floating.active &__content {
    padding: 70px 40px 80px;
  }

  &__floating__title--eng {
    color: #fff;
    font-weight: 400;
    margin-bottom: 5px;
    transition: transform .5s;
  }

  &__floating.active &__floating__title--eng {
    color: $red-color;
  }

  &__floating__title--kor {
    visibility: hidden;
    color: $red-color;
    font-size: 1.375rem;
    margin-bottom: 40px;
    transition: visibility 0s linear .1s;
  }

  &__floating.active &__floating__title--kor {
    visibility: visible;
  }

  &__floating__description {
    visibility: hidden;
    line-height: 1.8;
    transition: visibility 0s linear .1s;
  }

  &__floating.active &__floating__description {
    visibility: visible;
  }

  @include laptop {
    &__floating {
      display: block;
    }
  }

  @include laptop-l {
    &__floating {
      margin-top: -207px;
      left: 80px;
    }

    &__floating__title--kor {
      color: #fff;
      font-size: 1.6875rem;
      visibility: visible;
    }

    &__floating.active &__floating__title--kor {
      color: $red-color;
    }

    &__floating__description {
      visibility: hidden;
      line-height: 1.8;
      transition: visibility 0s linear .1s;
    }

    &__floating.active &__floating__description {
      visibility: visible;
    }
  }
}
