.header {
  width: 100%;
  height: 55px;
  background-color: #fff;
  border-bottom: 1px solid #e1e1e1;
  padding: 10px 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  @include clearfix;

  &__logo {
    display: block;
    width: 60px;
    float: left;
  }

  &__logo img {
    max-width: 100%;
  }

  .nav {
    display: none;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .nav__list {
    display: inline-block;
    height: 100%;
    line-height: 77px;
    @include clearfix;
  }

  .nav__list__item {
    height: 100%;
    margin: 0 23px;
    float: left;
    position: relative;
  }

  .nav__list__item:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 10px;
    left: 0;
    transform: scale(0);
    transition: transform .4s;
  }

  .nav__list__item:hover:after {
    transform: scale(1);
  }

  .nav__list__link {
    color: #555;
    font-size: 1.0625rem;
    font-weight: 600;
  }

  .nav__list__item:hover .nav__list__link,
  .nav__list__item.active .nav__list__link {
    color: $red-color;
  }

  &__menu-button {
    width: 26px;
    height: 20px;
    margin-top: 7px;
    float: right;
  }

  &__menu-button__line {
    display: block;
    height: 3px;
    background-color: #fff;
    margin-bottom: 4px;
  }

  &__menu-button__line:last-child {
    margin-bottom: 0;
  }

  &__search-icon {
    display: none;
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
  }

  &__login {
    display: none;
    text-indent: -9999px;
    width: 38px;
    height: 38px;
    border:1px solid #d7d7d7;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 1;
  }

  &__login img {
    display: block;
    border-radius: 100%;
  }

  @include laptop {
    height: 77px;
    padding: 10px 20px;

    &__logo {
      width: 75px;
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
    }

    .nav {
      display: block;
    }

    &__menu-button {
      display: none;
    }

    &__search-icon {
      display: block;
    }

    &__login {
      display: block;
    }
  }

  @include laptop-l {
    padding: 0 50px;

    &__logo {
      left: 50px;
    }

    .nav__list__item {
      margin: 0 30px;
    }

    &__login {
      right: 50px;
    }
  }
}
