html {
  // overflow: hidden;
}

body {
  font-family: 'Roboto', 'NanumSquare';
}

a {
  color: $black-color;
  text-decoration: none;
}

li {
  list-style: none;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
